rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /tags/{docId} {
      allow write: if true;
      allow read: if false;
    }

    match /stats/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /devices/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /userStats/{docId}/{subcollection}/{cardId} {
      allow read: if true;
      allow write: if false;
    }
  }
}